h1 h2 h3 h3 h4 h5 h6 p {
    margin: 0;
    padding: 0;
}
%reset-link{
    margin: 0;
        padding: 0;
        text-decoration: none;
}
%reset-list{
margin: 0;
    padding: 0;
    text-decoration: none;
}