:root {
    /*fonts*/
    $main-font: Roboto, sens-serif;
    $secondary-font: Raleway, sens-serif;
    /* text colors */
        $main-tx-cl: #212121;
        $ac-tx-cl: #2196f3;
        $text-sm-cl: #757575;
        /* bd colors */
        $gr-bd-cl: #e5e5e5;
        $dr-bd-cl: #2f303a;
        $lr-bd-cl: #ffffff;
}
