.about{
padding-top: 0;
@media screen and (max-width:1199px) {
        & {
            display: none;}
        }
&__item{
position: relative;
}
&__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
}