.form {
  display: block;
  @media screen and (min-width: 480px) {
    & {
      text-align: center;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      
      margin-left: 93px;
    }
  }
  &__title {
    @media screen and (min-width: 1200px) {
      & {
        display: block;
        text-align: left;
      }
    }
  }
  &__group {
    margin-top: 20px;
    @media screen and (max-width: 1199px) {
      & {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    @media screen and (min-width: 1200px) {
      & {
        display: flex;
      }
    }
  }
}
