.form{
    @media screen and (min-width: 480px){
        &{
            text-align: center;
        }
    }
   
    /*
display: block;
    width: 570px;
    margin-left: 93px;*/
    &__group{
        margin-top: 20px;
        /*
    display: flex;
        
   */ }
}
