.header{
    background-color: var(--lr-bd-cl);
}
.container__header {/*
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 0;
 */
    

@media screen and (min-width: 480px) {
   &{
    
    padding-top: 16px;
    padding-bottom: 16px;
   } 
}}