.portfolio {
  padding: 0;
  margin: 0;
  display: flex;
  grid-gap: 30px;
  flex-wrap: wrap;
  &__list {
      display: flex;
        grid-gap: 30px;
        flex-wrap: wrap;
  
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }}
  
  &__item--link {
    color: var(--main-tx-cl);
    display: inline-block;
    transition-property: box-shadow;
  
  }
  &__item--link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__list {
    
    &:last-child {
      @media screen and (min-width: 768px) {
        justify-content: left;
      }
    }
  }

}