.social{
gap: 10px;
&__link{
width: 44px;
    height: 44px;
    border-radius: 80%;
    transition-property: fill, background-color;
}
&__link--img{
    fill: #afb1b8;
}
&__link:hover,
&__link:focus {
    background-color: var(--ac-tx-cl);
}
&__link:hover &__link--img,
&__link:focus &__link--img{
    background-color: var(--ac-tx-cl);
        fill: var(--lr-bd-cl);
}
}