.addrees {
  margin-top: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--lr-bd-cl);

  &__list {
    @media screen and (min-width: 480px) {
      & {
        text-align: center;
      }
    }
    @media screen and (min-width: 1200px) 
    {display: block;
      text-align: left;
  }
}
&__item {
  @media screen and (min-width: 480px) {
    & {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin-top: 9px;
      margin-bottom: 9px;
    }
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &--mail,
  &--phone {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}
}