.info__list {
  
  @media screen and (min-width: 768px) {
    & {
      display: block;
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      display: flex;
      align-items: center;
      gap: 50px;
      text-align: center;
    }
  }}


.info__item {
  text-transform: lowercase;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-sm-cl);
  transition-property: color;

  @media screen and (max-width: 1199px) {
    & {
      margin-bottom: 10px;
      line-height: 1.67;
    }
  }
  &:last-child {
    @media screen and (max-width: 1199px) {
      & {
        margin-bottom: 0;
      }
    }
  }
}
.info__link{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.info__link:hover,
.info__link:focus {
  color: var(--ac-tx-cl);
}
.info__link--icon {
  margin-right: 10px;
  fill: currentColor;
}
