/*.info {
    display: flex;
    align-items: center;
    &__list{
    gap: 50px;
    }
    &__link{
        text-transform: lowercase;
            font-family: inherit;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--text-sm-cl);
            text-align: center;
            text-transform: capitalize;
            transition-property: color;
    }
        &__link:hover,
        &__link:focus {
            color: var(--ac-tx-cl);
        }
&__link--icon{
    margin-right: 10px;
        fill: currentColor;
}
}
*/