.menu__btn{
display: inline-flex;
    align-items: center;
    justify-content: center;
width: 40px;
    height: 40px;
    padding: 0;
    color: var(--main-tx-cl);
    background-color: var(--lr-bd-cl);
        border: none;
        &:hover,
        &:focus{
            fill: var(--ac-tx-cl);}
     @media screen and (min-width: 768px) {
                display: none;
            } 
    
.modal-overlay & {
    position: absolute;
    top: 16px;
    right: 10px;
 }}
