/*.register{
    &__group{
        margin-bottom: 20px;
    }
&__wrap{
position: relative;
    display: block;
    margin-bottom: 10px;
}
&__wrap:last-child{
    margin-bottom: 20px;
}
  &__wrap:hover .text__input--icon,
  &__wrap:focus .text__input--icon {
fill: var(--ac-tx-cl);
  }  
  &__wrap--label{
    display: block;
        text-align: left;
        margin-bottom: 4px;
        font-family: var(--main-font);
        font-style: normal;
        letter-spacing: 0.01em;
        color: #757575;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
  }
  &__span{
    position: relative;
  }
}*/