.sumbit{
    padding: 10px 55px;
        margin: 30px auto;
        line-height: 1.88;
        letter-spacing: 0.06em;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (max-width: 480px) {
          margin-bottom: 40px;  
        }
&:hover,
&:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
    }