.window{
  
    &__title{/*
        display: block;
            text-align: center;
            font-size: 20px;
            margin-bottom: 12px;*/
            font-family: var(--main-font);
            font-size: 20px;
                line-height: 1.15px;
                text-align: center;
                letter-spacing: 0.03em;
                color: var(--main-tx-cl);
    @media screen and (min-width: 480px){
        
        display: inline-block;
        
            line-height: 1.5;
        margin-bottom: 12px;
       margin-top: 12px;
        
    }
        }
 }